/* odibee-sans-regular - latin */
@font-face {
    font-family: 'Odibee Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/odibee-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/odibee-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/odibee-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/odibee-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/odibee-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/odibee-sans-v14-latin-regular.svg#OdibeeSans') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/trebuc.woff');
    src: local(''),
        url('../fonts/trebuc.woff') format('woff')
    }


  $font-primary: 'Trebuchet MS';

  $font-secondary: 'Odibee Sans';

  $color-brown: #AF7627;

  $color-pink: #FED9C9;

  $color-black: #000000;

  $font-small: 0.9rem;

  $font-medium: 1rem;

  $font-large: 1.2rem;
