@import '../../assets/scss/vars.scss';

footer {
    background-color: black;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    h2 {
        font-size: 2rem;
    }
    p {
        font-family: $font-primary;
        font-weight: 300;
    }
}