@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/vars.scss';


section {
    width: 90%;
    margin: auto;
    .sortcontainer {
        display: grid;
        grid-template-columns: 40% 30% 30%;
        align-items: center;
        h2 {
            font-family: $font-secondary;
        }
        p {
            font-family: $font-secondary;
        }
        select {
            height: 50%;
        }
    }

    .gridcontainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}