@import '../../../assets/scss/vars.scss';


section {
    width: 90%;
    margin: auto;
    .sortcontainer {
        display: grid;
        grid-template-columns: 40% 30% 30%;
        align-items: center;
        h2 {
            font-family: $font-primary;
        }
        p {
            font-family: $font-primary;
        }
        select {
            height: 50%;
            font-family: $font-primary;
            padding: 8px;
            option {
                font-family: $font-primary;
            }
        }
    }

    .gridcontainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}